<%- include("templates/header", {headerMessage: "MMSE Questionnaire" }) %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-
        KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <title>MMSE Questionanire</title>
        <style>
            .buttondiv {
                text-align: center;
            }

            .btn5 {
                background-color: plum;
                /* Green */
                border: none;
                color: white;
                align: center;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

            .form-check-input {
                border-color: plum;
                border: 4px solid;
            }

            .pill {
                width: 100%;
            }

            img {
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 3px;
                width: 100px;
            }
        </style>
    </head>

    <body>

        <!--This code was on https://mdbootstrap.com/docs/standard/extended/bootstrap-survey-form/ with adjustments and modifications made by Emma Lee -->
        <!---MMSE Questionnaires obtained from https://cgatoolkit.ca/Uploads/ContentDocuments/MMSE.pdf and https://strokengine.ca/en/assessments/mini-mental-state-examination-mmse/-->
        <br>
        <!-- performs app.post so that the user's answers can be stored in the database -->
        <form class="bg-white px-4" action="/mmse" method="post">
            <p class="fw-bold">5. What is the name of this image?</p>
            <img src="basketball.gif" style="align: center" alt="basketball ">
            <br>
            <br>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
                <label class="form-check-label" for="radioExample1">
                    Volleyball
                </label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
                <label class="form-check-label" for="radioExample3">
                    Basketball
                </label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" id="radioExample4" />
                <label class="form-check-label" for="radioExample4">
                    Dodgeball
                </label>
            </div>
            <p class="fw-bold">6. Which of the following does not belong?:</p>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
                <label class="form-check-label" for="radioExample1">
                    Algebra
                </label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
                <label class="form-check-label" for="radioExample2">
                    Philosophy
                </label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" id="radioExample4" />
                <label class="form-check-label" for="radioExample4">
                    Bracelet
                </label>
            </div>
            <div class="buttondiv">
                <button class="btn btn-outline-light btn-lg px-5" type="logout" style="font-size: 25px; background-color:
                            plum;"><a href="/mmse2" style="font-size: 20px; color:white;">Previous</a></button>
                <button class="btn btn-outline-light btn-lg px-5" type="logout" style="font-size: 25px; background-color:
                                        plum;"><a href="/mmse4" style="font-size: 20px; color:white;">Next</a></button>
            </div>
        </form>
        </div>
    </body>

    </html>
    <%- include("templates/footer") %>