<%- include("templates/header", {headerMessage: "Thank You" }) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-
        KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <title>Document</title>
        <style>
            body {
                background-position: center;
                height: 100vh;
            }
        </style>
    </head>

    <body>
        <!--This code was on https://mdbootstrap.com/docs/standard/extended/login/ with adjustments and modifications made by Emma Lee -->
        <section class="vh-100 gradient-custom">
            <form class="bg-white px-4" action="/recommendation" method="post">
                <div class="container py-5 h-100">
                    <div class=" row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg text-white" style="border-radius: 1rem; background-color: plum;">
                                <div class="card-body p-5 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">

                                        <h1 class="fw-bold mb-2 stext-uppercase">Thank you for completing the
                                            questionnaire.
                                        </h1>
                                        <br>
                                        <br>
                                        <h1 class="fw-bold mb-2 stext-uppercase">Your Score is <%= totalScore %> out of
                                                15.
                                        </h1>
                                        <p class="text-white-50 mb-5" style="color: black; font-size: 30px">
                                        </p>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                            style="font-size: 25px;">Recommendations</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </body>

    </html>
    <%- include("templates/footer") %>