<%- include("templates/header", {headerMessage: "Welcome" }) %>
    <!-- This code was modified from Emma Lee's COMP 2537 Assignment 2. -->

    <body>
        <div class="signupsetting">
            <div class="text-center">
                <!-- Perform the sign up app.post method so that the user's information can be stored in the database -->
                <form class="form-signup" action="/signup" method="post" onsubmit="return validation();">
                    <h1 class="h3 mb-3 font-weight-normal" style="color: plum">Sign Up</h1>
                    <!-- Users must fill-out username, email address, password, and phone number to sign up for an account. -->
                    <input name="username" type="text" placeholder="Username" required>
                    <br>
                    <input name="email" type="email" placeholder="Email address" required>
                    <br>
                    <input name="password" type="password" placeholder="Password" required>
                    <br>
                    <input name="number" type="number" placeholder="Phone number" required>
                    <br>
                    <br>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit"
                        style="font-size: 25px; background-color: plum;">Submit</button>
                </form>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Error</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p id="errorMessage"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Written with assistance from ChatGPT -->
            <script>
                function validation() {
                    var username = document.getElementsByName("username")[0].value;
                    var email = document.getElementsByName("email")[0].value;
                    var password = document.getElementsByName("password")[0].value;
                    var number = document.getElementsByName("number")[0].value;

                    // Check if user has fields missing
                    var missingFields = [];

                    if (!username) {
                        missingFields.push("Username");
                    }
                    if (!email) {
                        missingFields.push("Email");
                    }
                    if (!password) {
                        missingFields.push("Password");
                    }
                    if (!number) {
                        missingFields.push("Phone");
                    }

                    // Generate error message from missing field 
                    if (missingFields.length > 0) {
                        $("#errorMessage").html("Please provide " + missingFields.join(", ") + ".");
                        $("#myModal").modal("show");
                        return false;
                    }

                    return true;
                }
            </script>

            <!-- Bootstrap CSS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <!-- jQuery library -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <!-- Popper JS -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </div>
    </body>

    </html>